@page
@model LataPrzestepneIdentity.Pages.AddModel
@{
}

<div>
    <form method="post">
         <div class="form-group">
            <b> <label asp-for="Birthday.Name" style="margin-bottom:10px"></label></b>
            <input asp-for="Birthday.Name" class="form-control" style="margin-bottom:5px" />
            <b><span asp-validation-for="Birthday.Name" class="form-text text-danger"></span></b>
         </div>
         <div class="form-group">
            <b> <label asp-for="Birthday.Surname" style="margin-bottom:10px"></label></b>
            <input asp-for="Birthday.Surname" class="form-control" style="margin-bottom:5px" />
            <b><span asp-validation-for="Birthday.Surname" class="form-text text-danger"></span></b>
         </div>
         <div class="form-group">
            <b> <label asp-for="Birthday.Year" style="margin-bottom:10px"></label></b>
            <input asp-for="Birthday.Year" class="form-control" style="margin-bottom:5px" />
            <b><span asp-validation-for="Birthday.Year" class="form-text text-danger"></span></b>
         </div>
        <button class="btn btn-primary" type="submit" style="margin-top:10px">Zatwierdź</button>
    </form>

    @if(@Model.Alert != String.Empty)
    {
        <div class="alert alert-secondary" role="alert" style="margin-top:10px">
            @Model.Alert
        </div>
    }
</div>